#inbox-container{
  #menu-button {
    float: left;
    font-size: 40px;
    cursor: pointer;
    margin-left: 13px;
  }

  #brand{
    font-size: 40px;
    display: block;
    text-align: left;
    margin: 0px;
    padding: 0px;
  }

  #brand-container{
    float: right;
    width: 65%;
  }

  #margin{
    height: 55px;
    width: 100%;
  }
  .panel{
    margin: 0px;
    cursor: pointer;
  }

  @media screen and (min-width: 700px) {
    #menu-button {
      display: none;
    }
  }

  lable{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}
